@page "/transactions"
@using DYS.JPay.Shared.Features.Orders.ViewModels
@using DYS.JPay.Shared.Features.Transactions.Components
@using DYS.JPay.Shared.Shared.Components
@using DYS.JPay.Shared.Shared.Extensions
@using Microsoft.AspNetCore.Authorization
@inject TransactionsViewModel VM

 
<PageComponent>
    <PageContent>
        
        <div id="main-content" class="flex-1 lg:ml-64 min-h-screen flex flex-col transition-all duration-300 ">
            <main class="flex-1 pt-10 px-4 md:px-8 lg:px-12 pb-16 max-w-7xl mx-auto w-full opacity-0 space-y-8 animate-fade-in-up">

                <div class="flex flex-col md:flex-row md:items-end justify-between gap-6">
                    <div>
                        <h1 class="text-3xl font-headline font-extrabold text-primary tracking-tight">Transaction orders</h1>
                        <p class="text-sm text-on-surface-variant">Manage order listing.</p>
           
                    </div>
                    <div class="flex gap-3">
                      
                    </div>
                </div>

                <div class="bg-[#f1f4fa] p-4 md:p-6 rounded-2xl flex flex-col md:flex-row flex-wrap gap-4 items-stretch md:items-end shadow-sm border border-[#dfe3e8]/50">
                    <div class="flex-grow min-w-0 sm:min-w-[300px]">
                        <label class="block text-[10px] font-bold uppercase tracking-wider text-[#40484c] mb-2">Search products</label>
                        <div class="relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute left-3 top-1/2 -translate-y-1/2 text-[#40484c]"><circle cx="11" cy="11" r="8" /><path d="m21 21-4.3-4.3" /></svg>
                            <input @bind-value="@VM.Search.Keyword" type="text" placeholder="Description, vendor, or reference..." class="w-full bg-white border-none rounded-xl pl-10 py-2 text-sm shadow-sm focus:ring-1 focus:ring-[#003345]">
                        </div>
                    </div>
                    <!-- Filters... -->
                    <button @onclick="@(() => @VM.SearchTransactionsWithPagingAsync(action: "", refresh: true))" class="bg-[#dfe3e8] text-[#003345] text-sm font-bold px-6 py-2 rounded-xl flex items-center justify-center gap-2">
                        Search
                    </button>
                </div>

                <div class="bg-white rounded-2xl overflow-hidden shadow-sm border border-[#dfe3e8]/80">
                    <div class="overflow-x-auto">
                        <table class="w-full text-left border-collapse min-w-[600px] table-hover">
                            <thead>
                                <tr class="bg-[#f1f4fa]">
                                    <th class="px-4 py-4 text-[10px] font-bold uppercase tracking-widest text-[#40484c]">Customer name</th>
                                    <th class="px-4 py-4 text-[10px] font-bold uppercase tracking-widest text-[#40484c]">Payment mode</th>
                                    <th class="px-4 py-4 text-[10px] font-bold uppercase tracking-widest text-[#40484c]">Total</th>
                                    <th class="px-4 py-4 text-[10px] font-bold uppercase tracking-widest text-[#40484c]">Count</th>
                                    <th class="px-4 py-4 text-[10px] font-bold uppercase tracking-widest text-[#40484c]">Transaction date</th>
                                    <th class="px-4 py-4 text-[10px] font-bold uppercase tracking-widest text-[#40484c]">Status</th>
                                    <th class="px-4 py-4 text-[10px] font-bold uppercase tracking-widest text-[#40484c] text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-100">
                                @if (VM?.isBusy == true)
                                {
                                    @for (int i = 0; i < 50; i++)
                                    {
                                        <tr class="hover:bg-surface-container-low/50 transition-colors group">
                                            <td class="px-3 py-2">
                                                <div class="flex items-center gap-3">
                                                    <div class="size-10 rounded-full bg-gray-200"></div>
                                                    <div class="flex-1 space-y-2 py-1">
                                                        <div class="space-y-3">
                                                            <div class="grid grid-cols-3 gap-4">
                                                                <div class="col-span-2 h-2 rounded bg-gray-200"></div>
                                                            </div>
                                                            <div class="h-2 rounded bg-gray-200"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-3 py-2">
                                                <div class="h-2 rounded bg-gray-200"></div>
                                            </td>
                                            <td class="px-3 py-2 text-sm font-medium text-[#181c20]">
                                                <div class="h-2 rounded bg-gray-200"></div>
                                            </td>
                                            <td class="px-3 py-2 text-right font-bold text-[#016a60]">
                                                <div class="h-2 rounded bg-gray-200"></div>
                                            </td>
                                            <td class="px-6 py-2 text-right gap-5">
                                                <div class="col-span-2 h-2 rounded bg-gray-200"></div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @foreach (var transaction in VM?.Transactions?.Results!)
                                    {
                                        <tr class="hover:bg-surface-container-low/50 transition-colors group">
                                            <td class="px-3 py-2">
                                                <div class="flex items-center gap-3">
                                                    <div class="w-10 h-10 rounded-full bg-primary/10 text-primary flex items-center justify-center font-bold text-sm">
                                                        @transaction.CustomerName.FirstLetter()
                                                    </div>
                                                    <div>
                                                        <p class="text-sm font-bold text-gray-900">@transaction.CustomerName</p>
                                                        <p class="text-xs text-gray-500">@transaction.ReferenceNo</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-3 py-2 text-sm font-medium text-[#181c20]">
                                                @transaction.PaymentMode
                                            </td>
                                            <td class="px-3 py-2 text-sm font-medium text-[#181c20]">
                                                @transaction.Total
                                            </td>
                                            <td class="px-3 py-2 text-sm font-medium text-[#181c20]">
                                                @transaction.Count
                                            </td>
                                            <td class="px-3 py-2 text-sm font-medium text-[#181c20]">
                                                @transaction.Date.FormatDate("dd MMM yyyy hh:mmtt")
                                            </td>
                                            <td class="px-3 py-2"><span class="px-3 py-1 rounded-full text-[10px] font-bold bg-[#9ff2e4] text-[#117166]">@transaction.Status</span></td>
                                            <td class="px-6 py-2 text-right">
                                                <button @onclick="@(() => VM.OpenTransaction(transaction))" class="p-2 hover:bg-primary/10 text-primary rounded-xl transition-colors"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right w-5 h-5" aria-hidden="true"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
          
                    <div class="p-7 bg-surface-container-low/10 border-t border-outline-variant/20 flex justify-between items-center">
                        <p class="text-xs text-on-surface-variant font-medium">@VM!.Search.Summary</p>
                        <div class="flex gap-2">
                            <button disabled="@(VM!.Search.PreviousEnabled == false)" @onclick="@((async) => VM!.SearchTransactionsWithPagingAsync("previous"))" class="p-2 bg-white border border-outline-variant rounded-lg text-on-surface-variant @BooleanExtensions.GetConditionalString(VM.Search.PreviousEnabled, "", "disabled:opacity-50")">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="rotate-180"><path d="m9 18 6-6-6-6" /></svg>
                            </button>
                            <button disabled="@(VM!.Search.NextEnabled == false)" @onclick="@((async) => VM!.SearchTransactionsWithPagingAsync("next"))" class="p-2 bg-white border border-outline-variant rounded-lg text-on-surface-variant @BooleanExtensions.GetConditionalString(VM.Search.NextEnabled, "", "disabled:opacity-50")">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6" /></svg>
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <OffCanvassComponent>
            <Content>
                <TransactionComponent 
                    @bind-Transaction="@VM.Transaction" 
                    Orders="@VM.Orders"
                    UpdateStatus="VM.UpdateTransaction"/> 
            </Content>
        </OffCanvassComponent>
    </PageContent>
</PageComponent>

@code{
    protected override async Task OnInitializedAsync()
    {
        await VM.SearchTransactionsWithPagingAsync(action: "", refresh: true);
        await base.OnInitializedAsync();
    }
}
